td {

    border: 1px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
    
}

@font-face {
    font-family: digital7;
    src: url(assets/digital-7.ttf);
}

#difficulties{

    width: 10%;
    height: 10%;
    display: flex;
    align-items: row;
    justify-content: center;
    gap: 20%;
    margin: 0 auto;
}

body{

    background-color: #181a1b;
}

.box-style{
 
    box-sizing: border-box;
}

#play-area{

    padding: 0.5%;
    background-color: #444c54;
    border-top: 4px solid #788088;
    border-left: 4px solid #788088;
    border-right: 4px solid #1e262e;
    border-bottom: 4px solid #1e262e;

    width: fit-content;
    margin: auto;
    
}

#game-area{

    background-color: #444c54;
    border-right: 4px solid #788088;
    border-bottom: 4px solid #788088;
    border-top: 4px solid #1e262e;
    border-left: 4px solid #1e262e;
}

#score-area{

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #444c54;
    border-right: 4px solid #788088;
    border-bottom: 4px solid #788088;
    border-top: 4px solid #1e262e;
    border-left: 4px solid #1e262e;
}

.score-design{

    background-color: black;
    border-right: 2px solid #788088;
    border-bottom: 2px solid #788088;
    border-top: 2px solid #1e262e;
    border-left: 2px solid #1e262e;
    font-family: digital7;

    width: 5vw;
    height: 4vh;
    margin: 5px;
}
